streamlit
pandas
numpy
plotly
joblib
Pillow
python-docx
pypdf
SpeechRecognition
scikit-learn
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz