streamlit
pandas
numpy
scikit-learn
xgboost
spacy
sentence-transformers
easyocr
PyMuPDF
Pillow
google-generativeai
openai-whisper
sounddevice
scipy
deepface
opencv-python
python-docx
plotly
joblib
pyyaml
PyPDF2